<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <!-- debug 与 main 均已启用 GPU；此处保留以便 manifest merge 明确 -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="true" />
        <meta-data
            android:name="io.flutter.embedding.android.EnableFlutterGPU"
            android:value="true" />
    </application>
</manifest>
